@model IEnumerable<StoreAppWebUI.Models.ProductVM>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoreFront Inventory</title>
</head>
<body>
    
    <h2 style= "bottom: 20px;">StoreFront Inventory</h2>    

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Replenish", "Replenish", new {p_id = item.ID}, new { @style = "color:white;", @class = "btn btn-secondary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</body>
</html>